a{
	text-decoration: none;
}

body{
	font-family: Arial, sans-serif;
}

nav{
	height: 60px;
	background: #344051;
}

.logo{
	color: #fff;
	font-size: 24px;
	line-height: 60px;
	float: left;
	opacity: 0;
	transition: 1s;
	animation: logo 2s 1;
	animation-fill-mode: forwards;
	animation-delay: 0s;
}

@keyframes logo{
	0%{

		opacity: 0;

	}
	100%{

		opacity: 1;

	}
}

.menu{
	float: left;
}

.menu ul li{
	float: left;
	line-height: 60px;
	color: #fff;
	margin-right: 30px;
	font-size: 16px;
	text-transform: uppercase;
	animation: menu 0.4s forwards;
	-webkit-animation: menu 0.4s forwards;
	-o-animation: menu 0.4s forwards;
	opacity: 0;
}


@keyframes menu{
	0%{
		opacity: 0;
		margin-top: -85px;
	}

	100%{
		opacity: 1;
		margin-top: 0px;
	}
}

.menu li:nth-child(1){
	animation-delay: 0s;
}

.menu li:nth-child(2){
	animation-delay: 0.2s;
}

.menu li:nth-child(3){
	animation-delay: 0.4s;
}

.menu li:nth-child(4){
	animation-delay: 0.6s;
}

.menu li:nth-child(5){
	animation-delay: 0.8s;
}

.menu li:nth-child(6){
	animation-delay: 1.0s;
}


.menu ul li a{
	display: inline-block;
	color: #fff;
}

.menu ul li a:hover{
	color: #d17700;
	transition-duration: 0.3s;
	transform: scale(1.2);
}

.menu ul li a:active{
	transition-duration: 0.1s;
	transform: scale(1);
}

.white-btn:visited{
	color: #fff;
}

.main{
	height: 100%;
	background: url(../img/fon_main.jpg) repeat-x;
}

.title_container{
	text-align: center;
	animation: main 1.2s forwards;
	animation-delay: 0s;
	opacity: 0;
}

@keyframes main{
	0%{
		opacity: 0;
		margin-left: -500px;
	}

	100%{
		opacity: 1;
		margin-left: 0px;
	}
}

.title_container h1{
	font-size: 40px;
	color: #344051;
	font-weight: 600;
}

.title_container h4{
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 16px;
	color: #344051;
}

.title_container div{
	height: 40px;
	margin: 0 auto;
}

.title_container p{
	display: inline-block;
}

.title_container a{
	display: block;
	float: left;
	height: 40px;
	width: 100%;
	border: 2px solid #344051;
	border-radius: 8px;
	background: none;
	text-align: center;
	color: #344051;
	font-size: 14px;
	padding-top: 10px;
	margin: 0 auto;
}

.title_container a:hover{
	background-color: #344051;
	color: #fff;
}

.title_container a:active{
	opacity: 0.1;
	background: none;
	color: #344051;
}

.about_me{
	margin-top: 200px;

}

.about_me h3{
		font-size: 33px;
		text-transform: uppercase;
		font-weight: bold;
		color: #263244;
		text-align: center;
}

.about_me span p{
	text-align: center;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 12px;
	color: #3f495a;
	letter-spacing: 1px;
}

.gorizontal_line{
	margin: 0 auto;
	margin-top: 30px;
	width:70px;
	height:4px;
	background: rgba(235, 120, 0, 1);
}

.about_me .img_in_a_circle{
	height: 190px;
	width: 190px;
	text-align: center;
	margin: 0 auto;
	border-radius: 50%;
	margin-top: 60px;
	margin-bottom: 40px;
}

.about_me #img{
	border-radius: 50%;
}
.about_me a{
	display: block;
	height: 100%;
	border: 2px solid #6f707e;
	background: none;
	color: #6f707e;
	border-radius: 5px;
	background: url(../img/icon_down.png) no-repeat left;
	font-size: 14px;
	text-align: center;
	margin: 0 auto;
	padding-left: 4px;
}


#block_knopki{
	width: 18.5%;
	height: 24px;
	margin: 0 auto;
	text-align: center;
}

.block_knopki_adapt{
	margin: 0 auto;
	font-size: 11px;
}

.what_i_can_do{
	margin-top: 100px;
	height: 625px;
	background: url(../img/fon_what_i_can.jpg) no-repeat;
}


.what_i_can_do h3{
	text-align: center;
	font-size: 33px;
	padding-top: 100px;
	text-transform: uppercase;
	font-weight: bold;
	color: #263244;
}

.what_can_i_do_mobile{ 
	height: 50px;
	text-align: center center;
}

.what_can_i_do_mobile h5{ 
	height: 100%;
	text-align: center;
}

.information_skills{
	padding-top: 110px;
	text-align: center;
}

.underblock_information{
	padding-top: 75px;
	float: left;
	height: 245px;
	text-align: center;
	width: 
}

.WCID_text_mobile p{
	font-size: 20px;
}

.underblock_information h5{
	color: #cf7600;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

.underblock_information p{
	font-size: 16px;
	text-align: center;
	line-height: 19px;
}

#nout{
	background: url(../img/nout.png) no-repeat top center;
	background-size: 55px 37px;
}

#znak{
	background: url(../img/znak.png) no-repeat top center;
	background-size: 51px 40px;
}

#rocket{
	background: url(../img/rocket.png) no-repeat top center;
	background-size: 47px 47px;
}

#gramafon{
	background: url(../img/gramafon.png) no-repeat top center;
	background-size: 51px 44px;
}
.cases{
	margin-top: 110px;
	margin-bottom: 200px;
}

.cases h3{
	text-align: center;
	font-size: 33px;
	text-transform: uppercase;
	font-weight: bold;
	color: #263244;
}

.cases>p{
	text-align: center;
	padding-top: 35px;
	padding-bottom: 40px;
}

#fotka_vmesto{
	height: 589px;
	background: url(../img/fotka_vmesto_js.jpg) no-repeat center;
	margin-bottom: 22px;
}

.animation_button{
	padding-left: 148px;
}

.info{
	margin-right: 0;
	float: left;
}
.info h4{
	text-align: left;
	text-transform: uppercase;
	font-size: 25px;
	color: #384354;
	padding-top: 15px;
	padding-bottom: 15px;
}

.info p{
color:#3f495a;
font-size: 16px;
}

#name_project{
	display: block;
	float: left;
	text-align: left;
	padding-right: 150px;
}

#name_project h5{
font-size: 25px;
color: #3f495a;
}

#name_project p{
	color: #3f495a;
	line-height: 19px;
}

.button_visit{
	padding-top: 14px;
	margin-top: 25px;
	text-align: center;
	border-radius: 5px;
	width: 200px;
	height: 40px;
	background-color: #63b5ae;
	color: #fff;
}

.button_visit p{
	text-transform: uppercase;
	font-weight: 10;
}

.calculator{
	text-align: center;
}
.calculator h3{
	font-size: 45px;
	text-align: center;
	letter-spacing: -2px;
	color: #1c2534;
}

#hz{
	margin: 0 auto;
	margin-top: 60px;
}
#hz>p{
	text-align: left;
	text-transform: uppercase;
	color: #1c2534;
	margin-top: 45px;
	font-weight: 500;
}

.select{
	background-color: #eeeeee;
	margin-top: 25px;
	height: 45px;
	text-align: keft;
	text-indent: 12px;
	color: #777;
}

#cherta{
	margin-top: 40px;
	margin-bottom: 30px;
	height: 3px;
	background-color: #d1d1d1;
}

#raschet{
	height: 300px;
}

.text{
	text-align: left;
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 600;
}

.text>span{
	display: block;
	text-align: right;
	margin-top: -11px;
}

.statistic{
	height: 498px;
	background: url(../img/fon_statictic.jpg) no-repeat;
	text-align: center;
}

.statistic h3{
	padding-top: 100px;
	text-align: center;
	font-size: 33px;
	text-transform: uppercase;
	font-weight: bold;
	color: #263244;
}

.stat_part{
	text-align: center;
	padding-top: 90px;
	float: left;
	width: 25%;
}

#smile{
	background: url(../img/icon_smile.png) no-repeat center;
}

#skobki{
	background: url(../img/icon_skobki.png) no-repeat center;
}

#galochka{
	background: url(../img/icon_galochka.png) no-repeat center;
	padding-right: 10px;
}

#kubok{
	background: url(../img/icon_kubok.png) no-repeat center;
}

.stat_part h5{
	padding-top: 75px;
	font-size: 30px;
	font-weight: 900;
	color: #323d4f;
}

.stat_part p{
	color: #323d4f;
	padding-top: 30px;
	text-transform: uppercase;
	font-weight: 500;
}

.reviews{
	margin-top: 105px;
	height: 500px;
	background: url(../img/foto_chela.png) no-repeat 50% 125px, url(../img/tochki.png) no-repeat 50% 400px;
}

.reviews h3{
	text-align: center;
	font-size: 33px;
	text-transform: uppercase;
	font-weight: bold;
	color: #263244;

	}

.reviews div{
	text-align: center;
}

#director{
	padding-top: 235px;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 40px;
}

.reviews p{
	color: #243042;
}

.contacts{
	background: url(../img/fon_contakt.jpg) 0px 0px no-repeat;
}

.contacts h3{
	text-align: center;
	font-size: 33px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	padding-top: 100px;
	}

.contacts p{
	color: #fff;
	text-align: center;
	}

.contacts>p{
	margin-top: 33px;
}

#container{
	height: 90px;
}

#first_cont{
	background: url(../img/icon_geo.png) no-repeat 50% 15%;
}

#second_cont{
	background: url(../img/icon_letter.png) no-repeat 50% 15%;
}

#third_cont{
	background: url(../img/icon_pipe.png) no-repeat 50% 15%;
}

.contacts1{
	float: left;
	height: 140px;
	padding-top: 50px;
	text-align: center;
	}

#form_obr{
	margin-top: 20px;
	text-align: center;
	margin-left: 25%;
}

#name{

	margin-right: 30px;
}

.txt{
	height: 34px;
	text-align: left;
	padding-left: 6px;
	background-color: rgba(211,215,211, 0.8);
}

.txtarea{
	margin-top: 18px;q
	height: 95px;
	padding-top: 6px;
	padding-left: 6px;
	background-color: rgba(211,215,211, 0.8);
}

#send{
	margin-top: 30px;
	width: 120px;
	height: 45px;
	border: 1px solid #fff;
	background:none;
	border-radius: 5px;
	color: #fff;
	font-weight: 600;
}

.form-group{
	background: none;
}

.form-control{
		background-color: rgba(211,215,211, 0.8);
}